footer.footer
    .container.footer__wrap
        .footer__title
            a(href="#")
                img.footer__title-logo(src="images/footer/logo.svg", alt="")
            p.footer__title-text  МКУК ЦБС Ленинского района - одна из самых крупных в Нижнем Новгороде, объединяет 13 библиотек, из них 8 - взрослых, 5 - детских
        .footer__subtitle
            p.footer__subtitle-place Адрес: <br>Нижний Новгород,<br> улица Воздвиженка, 3/5
            .footer__subtitle-social
                p Мы в социальных сетях
                a(href="#")
                    img.footer__facebook.footer__icon(src="images/footer/facebook.svg", alt="")
                a(href="#") 
                    img.footer__vk.footer__icon(src="images/footer/vk.svg", alt="")
                a(href="#")
                    img.footer__twitter.footer__icon(src="images/footer/twitter.svg", alt="")
            .footer__subtitle-nav
                a.footer__subtitle-nav-item(href="#")
                    p   Библиотеки Нижнего Новгорода
                a.footer__subtitle-nav-item(href="#")
                    p   Часы работы
                a.footer__subtitle-nav-item(href="#")
                    p   Обратная связь
        .footer__bottom
            p.footer__bottom-contacts   Контакты: <br> 7(831)256-73-46 <br> sait-nn@mail.ru <br> Больше контактной информации
            .footer__bottom-section
                p.footer__botom-input-text Подписаться на рассылку новостей
                form(action="#" method="POST")
                    input.footer__bottom-input-item1(type="text" placeholder="Введите свой E-mail")
                    button.btn.btn-submit.footer__bottom-input-item2(type='submit') Подписаться

