header.header
    .container.header__wrap
        a(href="index.html")
            img.header__logo(src="images/header/logo.svg", alt="")
        ul.header__nav
            li.header__nav-item.header__nav-item-sob
                a(href="ticket.html") Читателям
                ul.header__nav-item-submenu
                    a(href="ticket.html")
                        li Оформление читательского билета
                    a(href="contacts.html")
                        li Контакты
            li.header__nav-item.header__nav-item-sob
                a(href="#") События
                ul.header__nav-item-submenu
                    a(href="club.html")
                        li Клубы по интересам
                    a(href="nika.html")
                        li Молодежный совет "НИКА"
                    a(href="corona.html")
                        li Меры против коронавируса
            li.header__nav-item.header__nav-item-sob
                a(href="catalog.html") Каталог
                ul.header__nav-item-submenu
                    a(href="periodicals.html")
                        li Периодические издания
            li.header__nav-item
                a(href="libraries.html") Библиотеки
            li.header__nav-item
                a(href="contacts.html") Контакты
        .header__icons
            a(href="") 
                img.header__search-icon(src="images/header/search-icon.svg", alt="")
            a(href="profile.html") 
                img.header__account-icon(src="images/header/account-icon.svg", alt="")
            a.header__account-count(href="") 
                span 46